/*colors*/
$green : #00AE42;
$white : white;
$black : #000000;
$grey : #343434;
$border-grey : #DCDCDC;
$date-green : #00AF40;
$para-grey : #565656;


/*fonts*/
$montserrat : "Montserrat", sans-serif;
$lato : "Lato", sans-serif;