/*colors*/
/*fonts*/
/*colors*/
/*fonts*/
body, h1, h2, h6, p, div, section, img, a, button, ul, li, .col-3, col {
  margin: 0;
}

body {
  margin: 0;
  color: #000000;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
}

.home {
  background-image: url("Rectangle 1.svg");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}
.home .zoo-alert {
  background-color: #00AE42;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.home .zoo-alert p {
  color: white;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  padding-right: 20px;
}
.home .zoo-alert .btn {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  display: flex;
  padding: 2px;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 5px 10px;
}
.home .zoo-alert .btn p {
  font-size: 14px;
  font-weight: 500;
  font-family: "Lato", sans-serif;
  margin: 0;
  color: #000000;
  letter-spacing: normal;
  padding: 0px;
}
.home .zoo-alert .btn img {
  padding-left: 5px;
}
.home header {
  display: flex;
  background-color: white;
  justify-content: center;
  padding: 20px;
}
.home header ul {
  list-style: none;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
}
.home header ul li {
  padding: 0 15px;
}
.home header .search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home header .search a {
  padding: 0 13px;
}
.home header .search p {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  display: flex;
  padding: 2px;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  color: white;
  background-color: #000000;
}
.home header .search .ticket-btn {
  background-color: #00AE42;
}
.home .home-text h1 {
  color: white;
  font-size: 57px;
  line-height: 70px;
  font-weight: 700;
  letter-spacing: 2px;
  width: 50%;
  padding: 9% 10% 7% 10%;
}
.home .container .col-3 {
  padding: 0 15px;
}
.home .container .col-3 .box {
  background-color: white;
  border-radius: 28px;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.0705882353);
}
.home .container .col-3 .heading {
  display: flex;
  padding: 20px;
  align-items: center;
}
.home .container .col-3 .heading h1 {
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
.home .container .col-3 .heading img {
  padding-right: 10px;
}
.home .container .col-3 .details {
  padding: 10px;
}
.home .container .col-3 .details .line {
  display: flex;
  padding: 10px 10px 20px 10px;
}
.home .container .col-3 .details .line p {
  font-size: 13px;
  color: #343434;
  font-weight: 500;
  line-height: 18px;
  padding-left: 15px;
}
.home .container .col-3 .link {
  padding: 20px;
  display: flex;
  align-items: center;
}
.home .container .col-3 .link h1 {
  font-size: 16px;
}
.home .events {
  padding: 60px 0;
}
.home .events .backdrop {
  background-color: white;
}
.home .events .backdrop .cover {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.home .events .backdrop .cover .heading {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}
.home .events .backdrop .cover .heading h1 {
  font-size: 26px;
}
.home .events .backdrop .cover .heading a {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  display: flex;
  padding: 2px;
  justify-content: center;
  align-items: center;
  border-radius: 19px;
  font-size: 16px;
  color: white;
  padding: 6px 10px;
  background-color: #00AE42;
}
.home .events .backdrop .cover .container .col-4 {
  padding: 0 25px;
}
.home .events .backdrop .cover .container .col-4 .card {
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 8px;
  border: 1px solid #DCDCDC;
  height: 100%;
}
.home .events .backdrop .cover .container .col-4 .card .event-img {
  width: 100%;
}
.home .events .backdrop .cover .container .col-4 .card .textbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-width: 100%;
  padding: 20px;
}
.home .events .backdrop .cover .container .col-4 .card .textbox .datetime {
  display: flex;
  font-size: 14px;
  font-weight: 600;
  padding: 0 10px;
}
.home .events .backdrop .cover .container .col-4 .card .textbox .datetime .date {
  color: #00AF40;
  padding-right: 10px;
}
.home .events .backdrop .cover .container .col-4 .card .textbox .datetime .time {
  display: flex;
}
.home .events .backdrop .cover .container .col-4 .card .textbox .datetime .time p {
  padding: 0 5px 0 10px;
}
.home .events .backdrop .cover .container .col-4 .card .textbox .datetime .time img {
  padding: 0 10px;
}
.home .events .backdrop .cover .container .col-4 .card .textbox .title {
  padding: 20px 40px 20px 10px;
}
.home .events .backdrop .cover .container .col-4 .card .textbox .title h2 {
  font-size: 18px;
  font-weight: 600;
}
.home .events .backdrop .cover .container .col-4 .card .textbox .desc {
  padding: 10px 40px 10px 10px;
  font-size: 14px;
  color: #565656;
}
.home .events .backdrop .cover .container .col-4 .card .textbox .link {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.home .events .backdrop .cover .container .col-4 .card .textbox .link p {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.home .attractions {
  background-image: url("Mask group .svg");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  background-size: contain;
  min-height: 100%;
}
.home .attractions .insite {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
}
.home .attractions .insite .same {
  display: flex;
}
.home .attractions .insite h1 {
  font-family: Montserrat;
  padding-top: 20px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: rgba(255, 255, 255, 0.53);
  padding-right: 20px;
}
.home .attractions .insite img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.home .attractions .card {
  padding-top: 50px;
  background-color: transparent;
  border: none;
}
.home .attractions .card h1 {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgb(255, 255, 255);
  background-color: transparent;
  padding-top: 10px;
}
.home .attractions .card p {
  padding-top: 10px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.02em;
  text-align: left;
  color: rgb(255, 255, 255);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}/*# sourceMappingURL=style.css.map */